.wrapper {
  background-color: antiquewhite;
  height: 100vh;
  .todo {
    max-width: 400px;
    margin: 0 auto;
    &__group {
      display: flex;
      gap: 10px;
      margin-bottom: 16px;
      input {
        border-radius: 10px;
        flex: 1;
        padding: 8px;
      }
      button {
        border-radius: 8px;
        padding: 8px 12px;
        cursor: pointer;
      }
    }
    &__list {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        button {
          cursor: pointer;
          border-radius: 3px;
        }
      }
    }
  }

}
