.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: aliceblue;
  &__name {
    margin-top: 20px;
    font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
    sans-serif;
    font-size: larger;
  }
}
